<div class="fondo-animado">
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="ZenniGames Logo"
    src="https://scontent.fntr6-3.fna.fbcdn.net/v/t39.30808-6/239644197_3040748056157436_5925322461044303413_n.png?_nc_cat=109&cb=99be929b-3346023f&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeE8skFHLzYdxlLOzW65FxCLS4-TLu9DRohLj5Mu70NGiHw6GkJk7ZsxwsNzCxaYUIk&_nc_ohc=_4u0Lpz8_JoAX-njRC8&_nc_ht=scontent.fntr6-3.fna&oh=00_AfCLD3z4jllwUOwZP_XXVcUs2LRhcxOm-iq-vsaKI7vWmQ&oe=64D0CF48"
  />
  <span>Bienvenid@ a SexyLand!</span>
    <div class="spacer"></div>
</div>


<div class="content">
  <section id="welcome">
    <div class="layer_one">
        <div class="avatar-container">
            <img loading="lazy" class="illustration" src="assets/template/welcome/{{characterIllustration}}" alt="{{characterName}}"/>
        </div>
        <app-welcome-dialog></app-welcome-dialog>
    </div>
  </section>

  <!-- Resources -->
  <h2>Redes Sociales</h2>
  <p>Aquí puedes encontrar más de mi contenido:</p>

  <div class="card-container">
    <a class="card btn btn-4" target="_blank" rel="noopener" href="https://www.twitch.tv/oscarzenni">
      <a href="https://www.flaticon.com/free-icons/twitch" title="twitch icons"></a>
      <img class="iconos" src="assets/template/iconos/twitch.png"/>
      <span>Twitch</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>

    <a class="card btn btn-4" target="_blank" rel="noopener" href="https://www.tiktok.com/@oscarzenni?lang=es">
      <a href="https://www.flaticon.com/free-icons/tiktok" title="tiktok icons"></a>
      <img class="iconos" src="assets/template/iconos/tiktok.png"/>
      <span>TikTok</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card btn btn-4" target="_blank" rel="noopener" href="https://youtube.com/zennigames">
      <a href="https://www.flaticon.es/iconos-gratis/youtube" title="youtube iconos"></a>
      <img class="iconos" src="assets/template/iconos/youtube.png" />
      <span>YouTube</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card btn btn-4" target="_blank" rel="noopener" href="https://www.instagram.com/zenni_games/">
      <a href="https://www.flaticon.es/iconos-gratis/logotipo-de-instagram" title="logotipo de instagram iconos"></a>
      <img class="iconos" src="assets/template/iconos/instagram.png"/>
      <span>Instagram</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </a>

    <a class="card btn btn-4" target="_blank" rel="noopener" href="https://twitter.com/oscarzenni">
      <a href="https://www.flaticon.com/free-icons/twitter" title="twitter icons"></a>
      <img class="iconos" src="assets/template/iconos/x.png"/>
      <span>X (Twitter)</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card btn btn-4" target="_blank" rel="noopener" href="https://www.facebook.com/ZenniGames">
      <a href="https://www.flaticon.es/iconos-gratis/facebook" title="facebook iconos"></a>
      <img class="iconos" src="assets/template/iconos/facebook.png"/>
      <span>Facebook</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card btn btn-4" target="_blank" rel="noopener" href="https://discord.gg/Rx82Hgm">
      <a href="https://www.flaticon.com/free-icons/discord" title="discord icons"></a>
      <img class="iconos" src="assets/template/iconos/discord.png"/>
      <span>Discord</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    

  </div>


  <!-- Footer -->
  <footer class="pie">
      ¿Quieres apoyarme?&nbsp;
      <a href="https://streamlabs.com/oscarzenni1/tip" target="_blank" rel="noopener"> Donaciones.
      </a>
      <a href="https://streamlabs.com/oscarzenni1/tip" target="_blank" rel="noopener">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" fill="#1976d2"/><path d="M0 0h24v24H0z" fill="none"/></svg>
      </a>
  </footer>

  
</div>

<router-outlet></router-outlet>
</div>